.ContactsList {
  list-style: none;
  padding: 0;
  margin: -15px 0 30px; }
  .ContactsList li {
    border-top: 1px solid #ecf0f1; }
    .ContactsList li:first-child {
      border: 0; }

.ContactsList-item {
  display: block;
  overflow: hidden; }
  .ContactsList-item figure {
    float: left;
    width: 100px;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden; }
  .ContactsList-item span {
    float: left;
    display: block;
    margin: 25px 15px 0 15px;
    font-size: 3rem; }
  .ContactsList-item em {
    display: block;
    color: #2c3e50;
    font-size: 2rem;
    margin: -12px 0 0; }

.Contact {
  margin: 15px 0; }

.Contact-header {
  overflow: hidden; }

.Contact-img {
  float: left;
  width: 100px;
  margin: 0 30px 0 0;
  border-radius: 6px;
  overflow: hidden; }

.Contact-name {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  top: 15px; }

.ContactCard {
  margin: 2rem 0 2rem;
  padding: 1.8rem 2.4rem;
  border: 6px solid #ecf0f1; }
  .ContactCard p {
    font-size: 1.4rem;
    margin: 1.4rem 0 0; }
    .ContactCard p:first-child {
      margin: 0; }
  .ContactCard .glyphicon {
    width: 1rem;
    text-align: center;
    margin: 0 1.4rem 0 0; }

.btn-default {
  background: #bdc3c7; }

.is-strong {
  color: #2ecc71; }

.is-weak {
  color: #c9302c; }
